
@media only screen and (max-width: 576px){
    .time-right{
        text-align: left !important;
        margin-top: 30px;
    }
    .heading-main-text h1{
        font-size: 40px ;
    }
    .carousel-indicators{
        transform: translate(-85px,30px) !important;
    }
    .border-nav{
       
        border-bottom: none;
    }
    .nav-pills{
        width: 20%;
    }
    .nav-pills .nav-item a::after{
        content: "";
        display: block;
        position: absolute;
        height: 0px;
        width: 0px;
        top: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right,#fbbd61,#ec7532);
        transition: all 1s;
    }
  
    .nav-pills .nav-item a:hover::after{
       
        
        width: 89px;
    }
    .movie-inner img{
        width: 90% !important;
        padding: 10px !important;
        height: 450px !important;
    }
    .time-right span{
        font-size: 10px !important;
    }
    .time-left .time-left-title{
        font-size: 12px;
    }
    .time-left .time-show{
        font-size: 10px !important;
        padding: 8px 10px !important;
    }
    .comingsoon__content {
        height: 100vh !important;
        margin-bottom: 226px;
    }
    .slider-nav-overlay{
        height: 277px !important;
        width: 151px !important;
    }
    
}
@media only screen and (min-device-width:320px)and (max-device-width:480px) {
	.heading-main-text h1{
        font-size: 30px !important;
    }
    .heading-main-text p{
        font-size: 14px !important;
    }
    .heading-main-text {
        padding: 0px 40px !important; 
    }
    .carousel-indicators{
        font-size: 10px !important;
        transform: translate(-25px,20px) !important ;
    }
    nav{
        padding: 0px 10px !important;
    }
    .newin-inner{
        padding: 0px 10px !important;
    }
    .slider-nav-overlay{
        height: 428px !important;
        width: 311px !important;
    }
    #header__run{
        height: 120px !important;
        width: 100% !important;
        
    }
    
}
@media (min-width: 576px) and (max-width: 768px) {
    .time-right{
        text-align: left !important;
        margin-top: 30px;
    }
    .comingsoon__content {
        height: 100vh !important;
        margin-bottom: 226px !important;
    }
    .time-right span{
        font-size: 10px !important;
    }
    .time-left .time-left-title{
        font-size: 14px;
    }
    .time-left .time-show{
        font-size: 10px !important;
        padding: 8px 10px !important;
    }
    .comingsoon__content {
        height: 70vh !important;
        margin-bottom: 226px;
    }
    .movie-inner img{
        width: 100% !important;
       
        height: 450px !important;
    }
    .movie-details{
        padding: 15px !important;
    }
    .carousel-indicators{
        transform: translate(-40px,30px) !important;
    }
    .slider-nav-overlay{
        height: 276px !important;
        width: 147px !important;
    }
    #header__run{
        height: 120px !important;
        width: 100% !important;
    }
 }
@media only screen and (min-width: 768px){
    .time-right{
        text-align: left !important;
        margin-top: 30px !important;
    }
    .heading-main-text h1{
        font-size: 30px ;
    }
    .movie-inner img{
        width: 90% !important;
        height: 450px !important ;
    }
    .time-right span{
        font-size: 14px !important;
    }
    .time-left .time-left-title{
        font-size: 12px;
    }
    .time-left .time-show{
        font-size: 14px !important;
        padding: 8px 10px !important;
    }
    .comingsoon__content {
        height: 70vh !important;
    }
    .carousel-indicators{
        transform: translate(-94px,30px) !important;
        
    }
    .slider-nav-overlay{
        height: 319px !important;
        width: 207px !important;
    }
    #header__run{
        height: 142px !important;
        width: 100% !important;
        
    }
}

@media only screen and (min-width: 992px){
    .time-right{
        text-align: right !important;
        margin-top: 0px !important;
    }
    .carousel-indicators{
        bottom: 60px !important;
        left: -61px !important;
    }
    .heading-main-text h1{
        font-size: 45px ;
    }
     .movie-inner img{
        width: 100% !important;
        height: 250px !important;
    }
    .time-right span{
        font-size: 14px !important;
    }
    .time-left .time-left-title{
        font-size: 12px;
    }
    .time-left .time-show{
        font-size: 14px !important;
        padding: 8px 10px !important;
    }
    .comingsoon__content {
        height: 60vh !important;
       
    }
    .carousel-indicators{
        transform: translate(-70px,50px) !important;
        
    }.slider-nav-overlay{
           height: 402px !important;
        width: 287px !important;
    } 
    #header__run{
        height: 129px !important;
        width: 100% !important;
        
    }
    
    
}

@media only screen and (min-width: 1200px){
    .heading-main-text h1{
        font-size: 70px ;
    }
    .comingsoon__content {
        height: 55vh !important;
  
    }
    .movie-inner {
        padding: 0 !important;
    }
    .carousel-indicators{
        transform: translateX(-10px) !important;
    }
    .slider-nav-overlay{
         height: 304px !important;
        width: 174px !important; 
    }
    #header__run{
        height: 129px !important;
        width: 100% !important;
        
    }
   
}
