body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
   
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.container{
    padding: 0px !important;
}
/* ------------------------------------------ */
/* ----------------- HEADER ----------------- */
/* ------------------------------------------ */
header{
   position: relative;
   width: 100%;
   z-index: 999;
}
.header{
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

}
.heading{
    color: white;
}
.navbar {
    background-color: transparent !important;
    padding: 0 ;
}
.header nav ul{
    border-bottom: 1px solid #fffffff7;
}
.header nav ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: .8em;
    display: inline-block;
    padding: 20px 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}
.navbar-nav{
    
    text-transform: uppercase;
}
.nav-item a{
    padding: 20px 24px !important;
    letter-spacing: 2px !important;
}
.nav-item{
    position: relative;
    font-size: 18px;
}
.navbar-nav li.active::after{
    box-shadow: 0 0 20px 0 #fbbd61;
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}
.navbar-nav li::after{
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 0;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}
.navbar-nav li:hover::after{
    box-shadow: 0 0 20px 0 #fbbd61;
    width: 100%;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}
.carousel-item {
    position: relative;
}
.carousel-item .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-color: rgb(0,0,0,0.8);
}
.carousel-inner .item1{
    background-image: url(../img/hero-1.jpg) ;
}  
.carousel-inner .item2{
    background-image: url(../img/hero-2.jpg);
}   
.carousel-inner .item3{
    background-image: url(../img/hero-3.jpg);
}    
.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}

.carousel-indicators li{
    height: 10px;
    width: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius:50% ;
}
.carousel-indicators {
    justify-content: flex-start;
    transform: translateX(-70px) ;
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: 50px;
    left:0;
    z-index: 15;
    display: flex;
    padding-left: 0px;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators li.active{
    background-color: white;
}
.carousel-inner .row{
    color:white
}
.col-md-7{
    position: absolute;
    top:260px
}
.heading-main-text  .title{
    color: #fbbd61;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-main-text  h1{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
}
.heading-main-text  p{
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
}
.certificate{
    font-size: 13px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    transform: translateY(2px);
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
}
.btn-cs{
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    border-radius: 30px;
    border: none;
    padding: 12px 38px;
    position: relative;
    overflow: hidden;
    outline:0;
    outline-width: 0;
    outline-style: none;
}
.btn-cs::before{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -15px;
    width: 0;
    height: 100%;
    content: '';
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
    background: #ec7532;
    
}
.btn-cs:hover::before{
    width: 140%;
}
.buttons span,i{
    z-index: 2;
    position: relative;
}
.slick-prev::before{
    font-size: 35px;
    color: orange;
    content: "<";
    font-weight: bolder;
}

.slick-next::before{
    font-size: 35px;
    color: orange;
    content: ">";
    font-weight: bolder;
}
.slick-prev,.slick-next{
    top:40%;
}
.slick-prev{
    left: -30px;
}
.carousel-arrow{
    display: flex;
    justify-content: center;
    animation: mymove ease-in-out 2s infinite;
    height: 27px;
    position: absolute;
    top: 624px;
    z-index: 10;
    width: 100%;
}

@keyframes mymove {
   0%{
        left: 0;
   }
   50%{
        left: 3px;
   }
   100%{
       right: 0px;
   }
}

/* ------------------------------------------ */
/* ----------------- NEW IN ----------------- */
/* ------------------------------------------ */

.movie-poster img{
    width: 100%;
}
 .movie-poster{
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;

}
.movie-slide h4,.star-rating{
    margin:10px
}
.movie-poster::before{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: -100px;
        width: 0;
        height: 100%;
        content: '';
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: .9;
        background-image: linear-gradient(to bottom,#fbbd61,#ec7532);
}

.movie-poster aside{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.movie-poster aside div{
    color:white;
    text-align: center;
}
 .movie-poster aside div .play{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
.movie-poster aside div .play i{
    color:white;
    font-size: 20px;
}
.movie-poster aside div .read-more{
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: white;
    /* width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    border-radius: 50%; */
}
.movie-poster:hover::before

{
    width: 200%;
    
}
.movie-poster:hover aside{
    opacity: 1;
    
}

.newin-inner h2{
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    color: #ec7532;
}
.newin-inner h2::before{
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 125px;
    top: 106px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}   
.star-rating,
.no-underline{
    text-align: center;
    font-size: 18px;
}
.star-rating{
    color: #ec7532; ;
}
.section{
    margin-bottom: 130px;
}
.slick-dots{
    display: none !important;
}
/* ------------------------------------------ */
/* --------------- SCHEDULE MOVIE------------- */
/* ------------------------------------------ */

.col-sm-3,.col-sm-9{
    padding: 0;
}
.movie-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-inner img{
    width: 190px;
    height: 230px;
    border-radius: 10px;
}

.movie-details{
    padding: 0 50px;
}
.movie-details .tag{
    color: #ec7532;
}

.time-left-title{
    font-size: 14px;
    letter-spacing: 2px;
}
.movie-details .read-more a{
    color: #ec7532;
    letter-spacing: 2px;
    font-size: 14px;
}
.movie-time{
    margin-top: 20px;
}
.movie-item{
    border-bottom:1px solid grey;
    padding: 30px 0px;
}
.movie-item:last-of-type{
    border: none;
}
.time-right{
    text-align: right;
}
.border-nav {
    border-bottom:1px solid grey;
}
.nav li a{
    color: black !important;
    
}
.nav li a.active{
   color: #ec7532 !important;
    background-color: transparent !important;
}
.nav-pills .nav-item a.active:after{ 
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 89px;
    top: 63px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}
.nav-pills .nav-item a::after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 0px;
    top: 63px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}
.nav-pills .nav-item a:hover::after{
    width: 89px;
}
.time-left > .time-show{
    background-color: #d8d8d8 !important;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 2px;
}
.time-left > .past{
    opacity: 0.5;
}
.time-right span{
    font-size: 14px;
    letter-spacing: 2px;
}
.time-right .duration-time{
   
    background: #4a4a4a;
    border-radius: 50%;
    color: white;
   padding:10px;
   font-weight: bold;
}
/* ------------------------------------------ */
/* --------------- COMMING SOON ------------- */
/* ------------------------------------------ */

.comingsoon__right {
    position: relative;
}
.top-1{
    background-image: url(/img/slide-7.png);
    
}
.top-2{
    background-image: url(/img/slide-3.png);
    
}
.top-3{
    background-image: url(/img/slide-7.png);
  
}
.top-1,.top-2,.top-3{
    background-position: center;
    background-size: cover;
}
.comingsoon__content {
    height: 55vh;
}
.comingsoon__content .item1,.item2,.item3,.item4,.item5,.item6,.item6,.item7{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center ;
    
    box-shadow: 0 0 50px 15px rgba(0,0,0,.75);
 
}
.comingsoon__content .item7{
    background-image: url(/img/slide-1-video.png);
    height: 300px;
}
.comingsoon__content .item6{
    background-image: url(/img/slide-2-video.png);
    height: 300px;
}
.comingsoon__content .item5{
    background-image: url(/img/slide-3-video.png);
    height: 300px;
  
}
.comingsoon__content .item4{
    background-image: url(/img/slide-1-video.png);
    height: 300px;
}
.comingsoon__content .item3{
    background-image: url(/img/slide-2-video.png);
    
    
    height: 300px;
}
.comingsoon__content .item2{
    background-image: url(/img/slide-3-video.png);
    
    height: 300px;
}
.comingsoon__content .item1{
    background-image: url(/img/slide-1-video.png);
    height: 300px;
}
.comingsoon__right{
    position: relative;
}
.comingsoon__right a{
    position: absolute;
    top: 36%;
    left: 45%;
}
.comingsoon__item{
    padding: 50px 0px 50px 0px;
    
}

.comingsoon__right a i{
border: 1px solid #ec7532;
padding: 30px;
border-radius: 50%;
outline: none;
outline-style: none;
outline-width: 0;

}
.dark{
    background-color: #101010;
    color: white;
}

.comingsoon__top .heading{
    border-bottom: 1px solid rgba(175, 174, 174, 0.5);
    font-size: 18px;
    letter-spacing: 1.7px;
    padding-bottom: 34px !important;
    text-transform: uppercase;
    font-weight: bolder;
    
}
.comingsoon__top .heading::after{
    position: absolute;
    right: auto;
    top:100px;
    bottom: 0px;
    display: block;
    width: 125px;
    height: 4px;
    content: '';
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}
.starrate,.date{
    display: inline;
    margin-right: 10px;
}
.starrate i{
    color:#ec7532;
}
.comingsoon__left h1{
    font-size: 16px;
    color:#ec7532;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.comingsoon__left p{
    margin:10px 0px;
}
.comingsoon__left{
    padding-top: 40px;
}
.cmnav__item h5{
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
}
.cmnav__item h6{
    text-align: center;
    font-size: 12px;
    color:#d8d8d8;
}

.cmnav__item{
   padding: 25px 0px; 
   position: relative;
   cursor: pointer;
}
.slider-nav-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.8);
    height: 296px;
    width: 174px;
    opacity: 1;
    transition: all 0.5s;
}
.cmnav__item img{
    width: 80%;
    border-radius: 10px;
    
}
.cmnav__item:hover .slider-nav-overlay {
    opacity: 0;
}

/* ------------------------------------------ */
/* --------------- CONTACT US --------------- */
/* ------------------------------------------ */
.contact-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.contact-details{
    text-align: center;
}
.contact-details p{
    font-size: 23px;
    font-weight: 300;
    /* margin-bottom: 10px; */
    text-align: center;
    letter-spacing: 1px;
    color: #4a4a4a;
}
.contact-details span{
    color: #ec7532;
    font-size: 46px;
    font-weight: 400;
}
/* ------------------------------------------ */
/* ------------------ FOOTER  --------------- */
/* ------------------------------------------ */
footer{
    background:#101010;
    padding: 75px 0px 0px 0px;
    color: white;
}
.footer-details h4{
    color: #ec7532;
}
.line{
    border-bottom:1px solid white ;
}
.footer-details p i{
    margin-right: 10px;
    
}
.footer-details p {
    transition: all 0.5s;
    cursor: pointer;
    font-size: 13px;
}
.footer-details p:hover {
    color: #ec7532;
}
.copyrighting p{
    font-size:13px;
}
.copyrighting span{
    transition: all 0.5s;
    cursor: pointer;
}
.copyrighting span:hover{
    color: #ec7532;
}
